:root {
  --color1: #0b4eb3;
  --color2: #0d6efd;
  --color3: #fff;
  --color4: #a0c4fa;
  --color5: #647083;
  --fontsize1: 50px;
  --fontsize2: 30px;
  --fontsize3: 20px;
  --fontsize4: 15px;
}

* {
  font-family: "Segoe UI",Arial,sans-serif,
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header button,
#time-remaining-clock {
  background-color: transparent;
  border: none;
  font-size: var(--fontsize2);
  color: var(--color1);
  font-weight: bold;
  margin: 30px;
}

#time-count {
  padding-left: 5px;
}

#time-remaining-clock {
  display: flex;
  flex-direction: row;
}

header button {
  text-decoration: underline;
}

header button:hover {
  color: var(--color2);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

main h1,
#question,
h4 {
  text-align: center;
  font-size: var(--fontsize1);
  margin: 20px;
}

h3 {
  padding-top: 10px;
  border-top: 3px solid var(--color5);
}

main p {
  font-size: var(--fontsize3);
  margin: 20px;
  text-align: left;
}

#feedback-box {
  margin-top: 10px;
  padding-top: 10px;
  font-size: var(--fontsize2);
  color: var(--color5);
}

#answer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main button,
#answer-box button {
  background-color: var(--color1);
  border: none;
  color: var(--color3);
  font-weight: bold;
  font-size: var(--fontsize3);
  padding: 10px 20px;
  margin: 3px;
  border-radius: 8px;
}

main button:hover,
#answer-box button:hover {
  background-color: var(--color2);
}

input[type=text] {
  padding: 12px;
  margin: 8px;
  border-radius: 5px;
}

input[type=submit] {
  background-color: var(--color1);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--color3);
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--color2);
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: var(--fontsize3);
}

th {
  font-size: var(--fontsize2);
}

th, td {
  padding: 5px 15px;
  border: none;
}

tr:nth-child(even) {
  background-color: var(--color4);
}

#high-score-row:hover {
  background-color: coral;
}

#high-score-box button {
  font-size: var(--fontsize4);
  padding: 5px 10px;
}

.hide{
  display: none;
}

.visibility{
  visibility: hidden;
}

/* Adjust font size for mobile */
@media screen and (max-width: 425px) {
  :root {
    --fontsize1: 40px;
    --fontsize2: 25px;
    --fontsize3: 15px;
  }
}